<div class="col-lg-7 col-md-12 col-sm-12 container  splitLeft ">
  <div class="">
    <header >
      <div class="row pb-3">
        <img class="img-algn" src="app/assets/boosted-logo.png" />
      </div>
      <div class="row set-font col-lg-12">
        <span class="add-color">Customer information</span>
        <span> &nbsp; <strong>></strong> &nbsp;</span>
        <span class="add-color">Shipping method</span>
        <span> &nbsp;<strong> > </strong> &nbsp;</span>
        <span>Payment method</span>
      </div>
    </header>
    
    <main>
      <div class="d-flex flex-column flex-border mt-5">
        <div class=" row p-2">
          <div class="col-sm">
            Contact
          </div>
          <div class=" pl-2 col-sm-6">
           {{userDetails.email}}
         </div>
         <div class="col-sm add-color">
          <span href="" ng-click="returnToCI()"> Change</span>
        </div>
      </div>
      <div>
        <hr/>
      </div>
      
      <div class="row p-2">
        <div class="col-sm">
          Ship to
        </div>
        <div class="pl-2 col-sm-6">
          {{userDetails.firstName}} &nbsp;{{userDetails.address}} &nbsp; {{userDetails.zipcode}}
        </div>
        <div class="col-sm add-color">
          <span href="" ng-click="returnToCI()"> Change</span>
        </div>
      </div>
      <div>
        <hr/>
      </div>
      <div class="row p-2">
        <div class="col-sm">
          Method
        </div>
        <div class="pl-2 col-sm-6">
          Free Ground shipping
        </div>
        <div class="col-sm add-color">
        </div>
      </div>
    </div>

    <h6 class="mb-4 mt-5 shipping-style">Payment method</h6>
    <div class="d-flex flex-column flex-border">
      <div class="p-2">
        
       <input type="radio" name="payment" data-toggle="collapse" data-target="#creditcard" checked/> Credit card
       
     </div>
     <div class="p-2 collapse " id="creditcard"">
      <div class="d-flex flex-column">
        <div><hr/></div>
        <div class="creditcard-collapse">
          <div class="p-2"> 
           <input type="text" class="form-control" placeholder="Card number" aria-label="Username">
         </div>
         <div class="p-2 ">
          <div class="row">
            <div class="col-sm-6">
             <input type="text" class="form-control" placeholder="Cardholder" aria-label="Username">
           </div>
           <div  class="col-sm-3">
             <input type="text" class="form-control" placeholder="MM/YY" aria-label="Username">
           </div>
           <div  class="col-sm-3">
            <input type="text" class="form-control" placeholder="CVV" aria-label="Username">
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>



<div class="p-2">
  <hr/>
  <input type="radio"  name="payment" data-toggle="collapse" data-target="#amazonPay" />Amazon pay
</div>

<div class="p-2 collapse " id="amazonPay"">
  <div class="d-flex flex-column">
    <div><hr/></div>
    <div>
      <div class="p-2"> 
        <img src="app/assets/creditcard.png" />
        <label> you will be asked to login with amazon</label>
      </div>
      
    </div>
  </div>
  
</div>

<div class="p-2">
  <hr/>
  <input type="radio" name="payment" data-toggle="collapse" data-target="#affirm" />Affirm monthly payments
</div>
<div class="p-2 collapse " id="affirm"">
  <div class="d-flex flex-column">
    <div><hr/></div>
    <div>
      <div class="p-2"> 
       <img src="app/assets/creditcard.png" />
       <label><small> To apply for Affirm financing, click "Complete Order" below. You will be redirected to Affirm to complete your purchase securely.</small></label>    </div>
       
     </div>
   </div>
   
 </div>
</div>


<h6 class="mb-4 mt-5 shipping-style">Billing address</h6>
<div class="d-flex flex-column flex-border">
  <div class="p-2">
    <input type="radio" name="shipping" checked/> Same as shipping address
  </div>
  <div class="p-2">
   <input type="radio"  name="shipping" data-toggle="collapse" data-target="#BillingAddress" />Use a different billing address
 </div>
</div>

<div class="collapse " id="BillingAddress">
  <form name="shippingAddress " class=" form-styl">
    
    <div class="form-group">
      <input type="text" class="form-control sur-name mb-3" id="FirstName" name="firstName"  placeholder="First name" required>

      <input type="text" class="form-control sur-name ml-2 mb-3" id="LastName" name="lastName"  placeholder="Last name" required>

      <input type="text" class="form-control mdfy-width mb-3 " id="Address" name="address"  placeholder="Address" required>

      <input type="text" class="form-control mdfy-width mb-3" id="Apartment"  placeholder="Apartment,suite (optional)">

      <input type="text" class="form-control mdfy-width mb-3" id="City" name="city" placeholder="City">

      <div class="row pl-1 col-lg-9 col-md-8 col-sm-12 ">
        <div class="col-lg-3 col-md-12 col-sm-12 dropdown show ">
          <a class="btn btn-secondary dropdown-toggle  mb-3 mr-2 padd" href="" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" name="country">
           Country
         </a>

         <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>

      
      <div class="col-lg-3 col-md-12 col-sm-12 dropdown show ">
        <a class="btn btn-secondary dropdown-toggle mb-3 mr-2 padd" href="" role="button" id="dropdownMenuLink" data-toggle="dropdown" name="state" aria-haspopup="true" aria-expanded="false">
          State &nbsp; &nbsp; 
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
      
      <div class="">
        <input type="text" class="form-control col-lg-6 col-md-11 col-sm-12 mb-3 ml-2 zipcode"  name="zipcode" id="zipcode"  placeholder="zipcode">

        
      </div>
    </div>

    <input type="number" class="form-control mdfy-width col-md-11 mb-3" id="Phone " name="phone"  placeholder="Phone">
    
  </div>
  
</form>
</div>



<div class="row mb-5">
  <div class="col-sm-4 mt-5">
    <span class="add-color" ng-click="MoveToShipping()"> < Return to shipping method</span>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-5">
   <button type="button" class="btn btn-lg set-margin mt-4" ng-click="Checkout()">Complete order</button>
 </div>
</div>

<div ng-show="checkoutOrder" class="alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Order placed successfully . Thank you.</strong> 
</div>




</main>
<footer>
 <titan-footer></titan-footer>
</footer>
</div>

<div class="col-lg-5 col-md-12 col-sm-12  split right" id="sidebar">
  <div class="centered">
    <right-panel></right-panel>
  </div>
</div>


</div>
